:root {
  --color-one: #1789FC;
  --color-two: #FDB833;
  --color-three: #FFD07B;
  --color-four: #b1740f;
  --border-radius: 1rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  background-color: var(--color-three);
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
}

.control {
  position: relative;
}

.btn {
  font-family: inherit;
  font-size: 0.9rem;
  display: inline-block;
  vertical-align: top;
  background-color: var(--color-one);
  border: none;
  outline: none;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: var(--border-radius);
  font-weight: 700;
}

.btn--dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.btn--larger {
  font-size: 1rem;
}

.btn--menu {
  width: 5rem;
  border-radius: 0;
  padding: 0.25rem 0;
}

.btn--menu-top {
  border-top-right-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  border-collapse: collapse;
}

.btn--menu-bottom {
  border-collapse: collapse;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.display {
  flex-grow: 1;
  margin-top: 1rem;
}

.display--empty {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display__empty-message {
  color: var(--color-four);
  opacity: 0.5;
}

.task {
  font-size: 0.9rem;
  background-color: var(--color-two);
  border-radius: var(--border-radius);
  margin-top: 1rem;
  width: 100%;
  height: 5rem;
  display: flex;
}

.task__sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}

.task__btn {
  display: flex;
  width: 1.7rem;
  height: 1.7rem;
  justify-content: center;
  align-items: center;
  background-color: var(--color-one);
  color: white;
  border-radius: 50%;
}

.task__btn:first-of-type {
  margin-bottom: 0.3rem;
}

.task__content {
  padding: 0.25rem 0 0.25rem 0.5rem;
  flex-grow: 1;
}

.text-area {
  font-weight: inherit;
  font-family: inherit;
  font-size: 1rem;
  width: 80%;
  height: 30%;
  background-color: var(--color-two);
  border: none;
  outline: none;
  resize: none;
  border-radius: var(--border-radius);
  padding: 0.5rem;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
  opacity: 0.5;
  z-index: 1000;
}

.clear-prompt {
  width: 80%;
  height: auto;
  background-color: var(--color-two);
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
}

.above-all {
  position: absolute;
  z-Index: 1001;
}
