:root {
  --color-body-font: hwb(50 20% 80%);
  --color-btn-active-bg: hwb(50 40% 20% / 0.6);
  --color-btn-active-border: hwb(50 70% 10%);
  --color-btn-bg: hwb(50 70% 0%);
  --color-btn-border: hwb(50 57% 6%);
  --color-btn-focus-bg: hwb(50 55% 0%);
  --color-btn-focus-border: hwb(50 25% 60% / 0.45);
  --color-btn-focus-outline: hwb(50 25% 60% / 0.45);
  --color-btn-hover-bg: hwb(50 55% 0%);
  --color-btn-shadow: hwb(50 57% 6% / 0.4);
  --color-content-bg: hwb(50 80% 0%);
  --color-control-bg: hwb(50 70% 0%);
  --color-control-border: hwb(50 70% 6%);
  --color-empty-message-font: hwb(50 20% 40% / 0.4);
  --color-placeholder: hwb(50 40% 35% / 0.5);
  --color-popup-btn-active-border: hwb(50 90% 40% / 0.4);
  --color-popup-btn-border: hwb(50 55% 12%);
  --color-popup-btn-shadow: hwb(50 50% 25% / 0.6);
  --color-popup-content-bg: hwb(50 70% 0%);
  --color-popup-content-border: hwb(50 55% 12%);
  --color-popup-content-shadow: hwb(50 50% 25% / 0.6);
  --color-task-bg: hwb(50 70% 0%);
  --color-task-border: hwb(50 70% 6%);
  --color-task-shadow: hwb(50 60% 8% / 0.4);
  --color-textarea-scrollbar-thumb: hwb(50 40% 35% / 0.5);
  --color-textarea-scrollbar-track: hwb(50 40% 10% / 0.5);
  --color-task-scrollbar-thumb: hwb(50 40% 35% / 0.5);
  --color-task-scrollbar-track: hwb(50 40% 10% / 0.4);
  --color-display-scrollbar-thumb: hwb(50 56% 10% / 0.7);
  --color-display-scrollbar-track: hwb(50 70% 0%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-body-font);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  letter-spacing: 0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
}

.content {
  background-color: var(--color-content-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.control {
  position: relative;
  padding: 1rem;
  padding-bottom: 1.3rem;
  border-bottom: 1px solid var(--color-control-border);
  background-color: var(--color-control-bg);
}

.btn {
  background-color: var(--color-btn-bg);
  border-radius: 8px;
  border: 1px solid var(--color-btn-border);
  box-shadow: 0 1px 0 var(--color-btn-shadow);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0.2rem 0.8rem;
  transition: 0.05s background-color, 0.05s border-color, 0.05s outline, 0.05s box-shadow;
  user-select: none;
  letter-spacing: inherit;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-btn-hover-bg);
}

.btn:focus {
  background-color: var(--color-btn-focus-bg);
  border-color: var(--color-btn-focus-border);
  outline: 1px solid var(--color-btn-focus-outline);
  /* box-shadow: none; */
}

.btn:active {
  background-color: var(--color-btn-active-bg);
  border-color: var(--color-btn-active-border);
  outline: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.dropdown .btn {
  border-radius: 0;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.dropdown .btn:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.dropdown .btn:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-color: var(--color-btn-border);
}

.dropdown .btn:focus {
  border-bottom-color: var(--color-btn-focus-border);
  z-Index: 1;
}

.dropdown .btn:active {
  border-color: var(--color-btn-active-border);
}

.control__dropdown {
  position: absolute;
  top: 3rem;
  right: 1rem;
}

#list {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.display {
  flex-grow: 1;
  padding: 0 1.2rem 1rem 1.2rem;
  overflow: auto;
}

.display--empty {
  align-items: center;
  display: flex;
  justify-content: center;
}

.display__empty-message {
  color: var(--color-empty-message-font);
  user-select: none;
  font-size: 1rem;
}

.task {
  background-color: var(--color-task-bg);
  border-radius: 8px;
  border: 1px solid var(--color-task-border);
  box-shadow: 0 1px 0 var(--color-task-shadow);
  display: flex;
  height: 5rem;
  margin-top: 1rem;
  letter-spacing: 0.5px;
}

.task__content {
  flex-grow: 1;
  padding: 0.25rem 0.8rem;
  word-wrap: break-word;
  overflow: auto;
}

.task__sidebar {
  position: relative;
}

.task__sidebar>.btn {
  flex-grow: 1;
  border-right-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:focus {
  border-right-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:active {
  border-right-color: var(--color-btn-active-border);
}

.task__sidebar>.btn:first-of-type {
  border-top-left-radius: 0;
  border-top-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:first-of-type:focus {
  border-top-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:first-of-type:active {
  border-top-color: var(--color-btn-active-border);
}

.task__sidebar>.btn:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:last-of-type:focus {
  border-bottom-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:last-of-type:active {
  border-bottom-color: var(--color-btn-active-border);
}

.task__dropdown {
  position: absolute;
  top: 6px;
  right: calc(100% + 6px);
}

.control__dropdown,
.task__dropdown {
  z-index: 1;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: inline-block;
  width: 80%;
}

.popup__content {
  background-color: var(--color-popup-content-bg);
  border-radius: 8px;
  border: 1px solid var(--color-popup-content-border);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.text-area {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 6rem;
  padding: 0.5rem 0.75rem;
  resize: none;
  letter-spacing: inherit;
  display: block;
  overflow: auto;
  outline: none;

}

.clear-prompt {
  padding: 0.75rem 0.75rem 1.5rem 0.75rem;
}

.popup__control {
  display: flex;
  justify-content: flex-end;
  column-gap: 4px;
  padding-top: 4px;
}

.popup__btn {
  border-color: var(--color-popup-btn-border);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}

.popup__btn:active {
  border-color: var(--color-popup-btn-active-border);
}

::placeholder {
  color: var(--color-placeholder);
}

.task__content::-webkit-scrollbar {
  width: 4px;
}

.task__content::-webkit-scrollbar-track {
  background-color: var(--color-task-scrollbar-track);
}

.task__content::-webkit-scrollbar-thumb {
  background-color: var(--color-task-scrollbar-thumb);
  border-radius: 2px;
}

.text-area::-webkit-scrollbar {
  width: 8px;
}

.text-area::-webkit-scrollbar-track {
  background-color: var(--color-textarea-scrollbar-track);
  border-radius: 4px;
}

.text-area::-webkit-scrollbar-thumb {
  background-color: var(--color-textarea-scrollbar-thumb);
  border-radius: 4px;
}

.display::-webkit-scrollbar {
  width: 8px;
}

.display::-webkit-scrollbar-track {
  background-color: var(--color-display-scrollbar-track);
  border-left: 1px solid var(--color-btn-border);
}

.display::-webkit-scrollbar-thumb {
  background-color: var(--color-display-scrollbar-thumb);
  border-radius: 6px;
}

@media screen and (max-width: 339px) {
  .btn {
    padding-right: 0.6rem;
    padding-left: 0.6rem;
  }
}

@media screen and (min-width: 450px) {
  body {
    font-size: 1rem;
  }

  .display__empty-message {
    font-size: 1.1rem;
  }

  .task {
    width: 80%;
    margin: 1rem auto 0 auto;
  }

  .popup {
    width: 70%;
  }
}
