:root {
  --color-body-font: hsl(0, 0%, 20%);
  --color-btn-active-bg: hsla(50, 50%, 60%, 0.6);
  --color-btn-active-border: hsl(49, 50%, 80%);
  --color-btn-bg: hsl(50, 100%, 85%);
  --color-btn-border: hsl(50, 76%, 75%);
  --color-btn-focus-bg: hsl(50, 100%, 77%);
  --color-btn-focus-border: hsla(51, 23%, 33%, 0.45);
  --color-btn-focus-outline: hsla(51, 23%, 33%, 0.45);
  --color-btn-hover-bg: hsl(50, 100%, 77%);
  --color-btn-shadow: hsla(50, 76%, 75%, 0.4);
  --color-content-bg: hsl(51, 100%, 90%);
  --color-header-bg: hsl(50, 100%, 85%);
  --color-header-border: hsl(50, 67%, 82%);
  --color-display-scrollbar-thumb: hsla(50, 64%, 73%, 0.7);
  --color-display-scrollbar-track: hsl(50, 100%, 85%);
  --color-empty-message-font: hsla(0, 0%, 20%, 0.4);
  --color-placeholder: hsla(50, 26%, 53%, 0.5);
  --color-popup-btn-active-border: hsla(0, 0%, 69%, 0.4);
  --color-popup-btn-border: hsl(50, 58%, 71%);
  --color-popup-btn-shadow: hsla(50, 33%, 63%, 0.6);
  --color-popup-content-bg: hsl(50, 100%, 85%);
  --color-popup-content-border: hsl(50, 58%, 71%);
  --color-popup-content-shadow: hsla(50, 33%, 63%, 0.6);
  --color-task-bg: hsl(50, 100%, 85%);
  --color-task-border: hsl(50, 67%, 82%);
  --color-task-scrollbar-thumb: hsla(50, 26%, 53%, 0.5);
  --color-task-scrollbar-track: hsla(50, 72%, 65%, 0.4);
  --color-task-shadow: hsla(50, 67%, 76%, 0.4);
  --color-textarea-scrollbar-thumb: hsla(50, 26%, 53%, 0.5);
  --color-textarea-scrollbar-track: hsla(50, 72%, 65%, 0.5);
  --color-status-indicator: hsl(120, 54%, 44%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--color-body-font);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  letter-spacing: 0.25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: var(--color-content-bg);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  padding: 0.75rem 1rem 1rem 1rem;
  border-bottom: 1px solid var(--color-header-border);
  background-color: var(--color-header-bg);
}

h1 {
  flex-grow: 1;
  letter-spacing: 1.1px;
  font-weight: 700;
  font-size: 1.5rem;
}

.control {
  display: flex;
  align-items: center;
  padding-top: 4px;
  column-gap: 6px;
  position: relative;
}

.control>.btn {
  min-width: 40px;
  padding: 0.15rem 0.8rem;
}

.btn {
  background-color: var(--color-btn-bg);
  border-radius: 8px;
  border: 1px solid var(--color-btn-border);
  box-shadow: 0 1px 0 var(--color-btn-shadow);
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  padding: 0.25rem 0.8rem;
  transition: 0.05s background-color, 0.05s border-color, 0.05s outline, 0.05s box-shadow;
  user-select: none;
  letter-spacing: inherit;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-btn-hover-bg);
}

.btn:focus {
  background-color: var(--color-btn-focus-bg);
  border-color: var(--color-btn-focus-border);
  outline: 1px solid var(--color-btn-focus-outline);
}

.btn:active {
  background-color: var(--color-btn-active-bg);
  border-color: var(--color-btn-active-border);
  outline: none;
}

.dropdown {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.dropdown .btn {
  border-radius: 0;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.dropdown .btn:first-of-type {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.dropdown .btn:last-of-type {
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-color: var(--color-btn-border);
}

.dropdown .btn:focus {
  border-bottom-color: var(--color-btn-focus-border);
  z-Index: 1;
}

.dropdown .btn:active {
  border-color: var(--color-btn-active-border);
}

.control__dropdown {
  position: absolute;
  top: calc(100% + 6px);
  right: 0;
}

.control__dropdown .btn {
  min-width: 128px;
  padding: 0.25rem 0.25rem;
}

.display {
  flex-grow: 1;
  overflow: auto;
  padding-bottom: 1.25rem;
}

.display--empty {
  align-items: center;
  display: flex;
  justify-content: center;
}

.display__empty-message {
  color: var(--color-empty-message-font);
  user-select: none;
  font-size: 1.1rem;
}

.task {
  background-color: var(--color-task-bg);
  border-radius: 8px;
  border: 1px solid var(--color-task-border);
  box-shadow: 0 1px 0 var(--color-task-shadow);
  display: flex;
  height: 4.8rem;
  margin: 1.25rem auto 0 auto;
  letter-spacing: 0.5px;
  position: relative;
  width: 85%;
}

.task__content {
  flex-grow: 1;
  padding: 0.25rem 0.8rem;
  word-wrap: break-word;
  overflow: auto;
}

.task__sidebar {
  position: relative;
}

.task__sidebar>.btn {
  flex-grow: 1;
  border-right-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:focus {
  border-right-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:active {
  border-right-color: var(--color-btn-active-border);
}

.task__sidebar>.btn:first-of-type {
  border-top-left-radius: 0;
  border-top-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:first-of-type:focus {
  border-top-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:first-of-type:active {
  border-top-color: var(--color-btn-active-border);
}

.task__sidebar>.btn:last-of-type {
  border-bottom-left-radius: 0;
  border-bottom-color: rgba(0, 0, 0, 0);
}

.task__sidebar>.btn:last-of-type:focus {
  border-bottom-color: var(--color-btn-focus-border);
}

.task__sidebar>.btn:last-of-type:active {
  border-bottom-color: var(--color-btn-active-border);
}

.task__dropdown {
  position: absolute;
  top: 6px;
  right: calc(100% + 6px);
}

.control__dropdown,
.task__dropdown {
  z-index: 1;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  display: inline-block;
  width: 80%;
}

.popup__content {
  background-color: var(--color-popup-content-bg);
  border-radius: 8px;
  border: 1px solid var(--color-popup-content-border);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.text-area {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  height: 6rem;
  padding: 0.5rem 0.75rem;
  resize: none;
  letter-spacing: inherit;
  display: block;
  overflow: auto;
  outline: none;

}

.clear-prompt {
  padding: 0.75rem 0.75rem 1.5rem 0.75rem;
}

.popup__control {
  display: flex;
  justify-content: flex-end;
  column-gap: 4px;
  padding-top: 4px;
}

.popup__btn {
  border-color: var(--color-popup-btn-border);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.12);
}

.popup__btn:active {
  border-color: var(--color-popup-btn-active-border);
}

::placeholder {
  color: var(--color-placeholder);
}

.task__content::-webkit-scrollbar {
  width: 4px;
}

.task__content::-webkit-scrollbar-track {
  background-color: var(--color-task-scrollbar-track);
}

.task__content::-webkit-scrollbar-thumb {
  background-color: var(--color-task-scrollbar-thumb);
  border-radius: 2px;
}

.text-area::-webkit-scrollbar {
  width: 8px;
}

.text-area::-webkit-scrollbar-track {
  background-color: var(--color-textarea-scrollbar-track);
  border-radius: 4px;
}

.text-area::-webkit-scrollbar-thumb {
  background-color: var(--color-textarea-scrollbar-thumb);
  border-radius: 4px;
}

.display::-webkit-scrollbar {
  width: 8px;
}

.display::-webkit-scrollbar-track {
  background-color: var(--color-display-scrollbar-track);
  border-left: 1px solid var(--color-btn-border);
}

.display::-webkit-scrollbar-thumb {
  background-color: var(--color-display-scrollbar-thumb);
  border-radius: 6px;
}

.status-indicator {
  display: inline-block;
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--color-status-indicator);
  color: white;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 0 0.3rem;
  border-top: 1px solid var(--color-status-indicator);
  border-left: 1px solid var(--color-status-indicator);
}

.indented {
  text-indent: 1.4rem;
}

@media screen and (min-width: 360px) {
  h1 {
    font-size: 1.75rem;
  }

  .control>.btn {
    padding: 0.25rem 0.8rem;
  }

  .control {
    column-gap: 8px;
  }
}

@media screen and (min-width: 450px) {
  .task {
    width: 80%;
  }

  .control {
    padding-top: 6px;
  }

  .control>.btn {
    min-width: 64px;
  }

  h1 {
    font-size: 2rem;
  }
}
